<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changed</key>
	<dict>
		<key>ordering</key>
		<array>
			<string>4C2E088A-2EDB-44DF-9C62-CE0112B4C237</string>
			<string>3D727049-DD05-45DF-92A5-D50EA36FD035</string>
			<string>E738FFD2-66F3-4CCB-BD4E-779CF7D05BC5</string>
			<string>78D6895B-8366-4B26-9129-EB9FA37826B3</string>
			<string>07142C70-3A95-4D16-9A0D-CC29CA7DDFE2</string>
		</array>
	</dict>
	<key>deleted</key>
	<array/>
	<key>isDelta</key>
	<true/>
	<key>uuid</key>
	<string>4618480A-F4C3-40FE-8719-DE54CBDFB92A</string>
</dict>
</plist>
